@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-light {
    --tw-bg-opacity: 1;
    background-color: rgb(234 226 183 / var(--tw-bg-opacity));
}

.text-dark {
    --tw-text-opacity: 1;
    color: rgb(0 48 73 / var(--tw-text-opacity));
}